body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;
}
.input-container {
  display: -ms-flexbox; 
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.main{
width: 700px;height:650px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
position:absolute;left:400px;top:100px;
border:0px solid black;
}
.set{
position:relative;
top:790px;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}
button {
  background-color: dodgerblue;
  color: white;
  padding: 14px 10px;
  margin: 8px ;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  height:60px;
}
button:hover {
  background-color:white;
  border:3px solid dodgerblue;
color:dodgerblue;
}
.container {
  padding: 16px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

 .btn {
  width: 50%;
}

@media screen and (max-width: 300px) {
  .cancelbtn, .btn {
     width: 100%;
  }
}
.area{
	height:200px;
	width:500px;
	outline:none;
}
.area:focus{
	  border: 2px solid dodgerblue;
}