* {
	font-family: sans-serif;
}

body {
	height: 100vh;
	background-color: #FFFFFF;
}

.registration-page{
	width: 450px;
	padding: 5% 0 0;
	margin: auto;
}

.form{
	position: relative;
	z-index: 1;
	background: rgba(240,248,255,0.8);
	max-width: 450px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}

.form input{
	outline: 1;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button {
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	cursor: pointer;
}

.form button:hover, .form button:active{
	background: #43A047;
}

input {
	border: 1px solid black;
}
input:focus {
	background-color: #E6E6E6;
}

.form .message{
	margin: 15px 0 0;
	color: #000000;
	font-size: 12px;
}

.form .message a{
	color: #4CAF50;
	text-decoration: none;
}